body {
  padding: 2rem;
  background-color: #fff;
  font-family: "DM Sans", system-ui, -apple-system, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #6f6c90;
}

button {
  font-family: inherit;
  font-size: 1rem;
}

h1,
h2 {
  color: #170f49;
  margin: 0.4rem 0;
  padding: 0;
}

p {
  margin: 0.1rem;
}

input {
  box-shadow: 0px 2px 6px 0px rgba(19, 18, 66, 0.07);
}

input[type="radio"] {
  accent-color: #4a3aff;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitle {
  color: #6f6c90;
  margin-top: 0.8rem;
  margin: 0.8rem 0;
}

.text-center {
  text-align: center;
}

.main {
  max-width: 400px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 700px;
}

.form-container {
  padding: 2.8rem 3rem;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0px 5px 16px 0px #080f340f;
  border-radius: 34px;
  border-width: 1px;
  border-color: #eff0f6;
  border-style: solid;
}

.steps {
  margin: 0 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 2rem;
  height: 2rem;
  background-color: #eff0f6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar {
  margin: 0 1rem;
  width: 5.8rem;
  height: 0.4rem;
  border-radius: 2.5rem;
  background-color: #eff0f6;
}

.bar .progress {
  height: 100%;
  border-radius: 2.5rem;
  background-color: #4a3aff;
}

.divider {
  border-bottom: 1px #d9dbe9 solid;
  margin-top: 1.8rem;
}

.title {
  margin-top: 3rem;
  color: #170f49;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.1875rem;
}

.description {
  margin-top: 0.2rem;
  color: #6f6c90;
}

form .row {
  margin-top: 2.8rem;
  display: flex;
  gap: 2rem;
  flex-direction: row;
  justify-content: space-between;
}

form .column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

form .column p {
  color: #170f49;
  font-size: 1.2rem;
}

form .input-text {
  margin-top: 0.8rem;
  padding: 1.4rem 20px 1.4rem 1.6rem;
  border-radius: 2.875rem;
  border: 1px solid #eff0f6;
  color: #170f49;
  font-size: 1.2rem;
  background-position: right center;
  background-repeat: no-repeat;
  background-origin: content-box;
}

form .input-text:focus {
  outline: none;
  border-color: #962dff;
}

form .input-error {
  color: #962dff;
  margin-top: 0.8rem;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-primary {
  padding: 16px 36px;
  color: #fff;
  background: #4a3aff;
  border-radius: 56px;
  border: none;
  cursor: pointer;
}

.button-outline {
  padding: 16px 36px;
  color: #4a3aff;
  background: #fff;
  border-radius: 56px;
  border: 1px solid #4a3aff;
  cursor: pointer;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 2.8rem;
}

.card {
  display: flex;
  align-items: center;
  border: 1px solid #eff0f7;
  box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.card:hover {
  border-color: #ddd;
  box-shadow: 0 0 10px rgba(108, 99, 255, 0.2);
}

.card-title {
  font-size: 18px;
  font-weight: 500;
  margin-left: 16px;
}

.card.active {
  border-color: #4a3aff;
  box-shadow: 0 0 10px rgba(108, 99, 255, 0.2);
}

.icon-circle {
  background-color: #e0e0ff;
  border-radius: 50%;
  width: 66px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.4rem 4rem 0 4rem;
}

.title.submit {
  text-align: center;
  margin-top: 1rem;
}

.description.submit {
  text-align: center;
}
