body {
  font-weight: 400;
  font-family: Poppins, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  margin: 0;
}

.underline {
  text-decoration-line: underline;
}

.bold {
  font-weight: 700;
}

.parent {
  background-color: #fff;
  margin: 4rem 8rem;
}

.header {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.logo {
  object-fit: contain;
  object-position: center;
  overflow: hidden;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  font-size: 0.98rem;
}

.menu-item {
  text-transform: uppercase;
}

.menu-item::after {
  content: "";
  background-color: #000;
  display: block;
  height: 1px;
  width: 0;
  transition: width 0.2s ease-in-out;
}

.menu-item:hover::after,
.menu-item.active::after {
  width: 35%;
}

.section {
  display: flex;
  flex-direction: row;
  margin-top: 7.4rem;
  gap: 8rem;
}

.hero {
  flex: 1;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 3.4rem;
  font-family: "Playfair Display", serif;
}

.description {
  font-weight: 300;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.action {
  display: flex;
  margin-top: 1.2rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.action-one {
  border-radius: 19px;
  background-color: #f2f0df;
  padding: 1rem 1.8rem;
  font-weight: 700;
  font-size: 1.06rem;
}

.action-two {
  align-items: center;
  display: flex;
  gap: 0.6rem;
  font-size: 1.01rem;
}

.banner {
  border-radius: 19px;
  border: 1px solid #000;
  box-shadow: 15px 9px 30px 0px rgba(160, 160, 160, 0.25);
  background-color: #fff;
  margin-top: 2.8rem;
  padding: 2rem 2.4rem;
  display: flex;
  gap: 3.6rem;
}

.banner-title {
  font-weight: 200;
  font-size: 2.36rem;
  margin: 0.36rem 0;
}

.banner-subtitle {
  font-weight: 200;
  font-size: 0.94rem;
  margin: 0.8rem 0;
}

.product {
  flex: 1;
  flex-basis: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.product-container {
  border-radius: 19px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.product-one {
  grid-area: 1 / 1 / 3 / 2;
  background-image: url("shoes.jpg");
}

.product-two {
  grid-area: 1 / 2 / 2 / 3;
  background-image: url("knit.jpg");
}

.product-three {
  grid-area: 2 / 2 / 3 / 3;
  background-image: url("denim.jpg");
}

.product-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  margin: 0.8rem;
  padding: 0.5rem 1rem;
  gap: 1rem;
}

.product-name {
  display: flex;
  flex-direction: column;
}

.product-brand {
  white-space: nowrap;
  font-weight: 700;
}

.product-type {
  white-space: nowrap;
  color: #505050;
  font-size: 0.86rem;
}

.product-divider {
  border-right: 1px #e4e4e4 solid;
  height: 2.6rem;
}

@media (max-width: 1024px) {
  .section {
    flex-direction: column;
    gap: 4rem;
  }

  .parent {
    margin: 4rem;
  }

  .product {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-one {
    height: 550px;
  }
}
